@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;500;600&display=swap');

@font-face {
    font-family: title-font;
    src: url(Brotherhood_Script.ttf);
  }

* {
    font-family: 'Cormorant Upright', serif;
    text-align: center;
}


body {
    background-image: url('./backgroundImage8.webp');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100%;
    background-color: #dcc9d3;

    /* Fade in */
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.header {
    padding-top: 14%;
}

.bismillah-description {
    font-size: 1em;
    padding-bottom: 1%;
    font-weight: bold;
}

.image {
    width: 15%;
}

.title-container {
    /* padding-top: 20%; */
    padding-bottom: 15%;
}

.title {
    font-family: title-font;
    font-size: 10em;
    padding: 1%
}

nav {
    padding: 2%;
}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-item {
    display: inline-block;
    padding: 0 8px;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: underline rgba(0, 0, 0, 0);
    font-style: italic;
}

.nav-item:hover {
    transition: 200ms ease-out;
    cursor: pointer;
    text-decoration-color: rgba(0, 0, 0, 1);
}

a {
    text-decoration: none;
    color: black;
}

.subtitle {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    width: 75%;
    margin: auto;
}

.subpage-box {
    width: 60%;
    margin: auto;
    padding-bottom: 10%;
}

.description {
    font-size: 1.4em;
    margin: auto;
}

.description > a {
    text-decoration: underline;
}

li {
    padding: 5%;
}

.event-title {
    font-size: 1.8em;
    /* font-weight: 800; */
    text-transform: uppercase;
}

.event-subtitle {
    font-size: 1.5em;
    font-weight: 800;
}

.event-description {
    font-style: italic;
    font-size: 1.3em;
}

.list, .nav-list {
    list-style-type: none;
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),(-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px) {
    body {
        background-image: url("./backgroundImageLargest.webp");
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-size: 100%;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1024px),(-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px) {
    body {
        background-image: url("./backgroundImage2.webp");
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-size: 100%;
    }
}

/* @media screen and (min-resolution: 192dpi) and (min-width: 768px),(-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) {
    body {
        background-image: url("./backgroundImage3.webp");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
    }
}

@media screen and (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-image: url("./backgroundImage4.jpeg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
    }
} */

/* @media screen and (min-resolution: 144dpi) and (min-width: 1280px),(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1280px) {
    body {
        background-image: url("./backgroundImage5.webp");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
    }
}

@media screen and (min-resolution: 144dpi) and (min-width: 1024px),(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1024px) {
    body {
        background-image: url("./backgroundImage6.webp");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
    }
} */

/* @media screen and (min-resolution: 144dpi) and (min-width: 768px),(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 768px) {
    body {
        background-image: url("./backgroundImage7.webp");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
    }
} */

/* @media screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
    body {
        background-image: url("./backgroundImage8.webp");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
    }
} */

/* @media screen and (min-width: 1280px) {
    body {
        background-image: url("./backgroundImage9.webp");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-image: url("./backgroundImage10.webp");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
    }
} */

@media screen and (min-width: 768px) {
    body {
        background-image: url("./backgroundImageLargest.webp");
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

@media screen and (max-width: 844px) {
    .title {
        font-size: 3em;
    }

    .subtitle {
        font-size: 2em;
    }

    .title-container {
        padding-top: 60%;
    }
}